@tc-fontsize: 12pt;
@tc-lineheight: 3em;

*, body, html {
  font-family: Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.grid(@grid-fg, @grid-bg, @width, @height) {
  background-color: @grid-bg;
  background-image: linear-gradient(@grid-fg 1px, transparent 1px),
  linear-gradient(90deg, @grid-fg 1px, transparent 1px);
  background-size: @height @height, @width @width;
}

.lines(@grid-fg, @grid-bg, @height) {
  background-color: @grid-bg;
  background-image: linear-gradient(@grid-fg 1px, transparent 1px);
  background-size: @height @height;
}

.tcfont() {
  font-size: @tc-fontsize;
  line-height: @tc-lineheight;
  font-family: monospace;
}

#sample-container {
  //.grid(rgba(0, 0, 0, .1), transparent, 1ch, @tc-lineheight);
  .lines(rgba(0, 0, 0, .1), transparent, @tc-lineheight);
  .tcfont;
  padding: 1em 2ch;
  box-sizing: border-box;
  width: 100%;
}

.relation-endpoint {

}

.relation-endpoint-hovered {

}

.relation-connection {

}

.relation-connection-hovered {

}

@keyframes api-blinking {
    from {color: #e74c3c;}
    to {color: #f39c12;}
}
#api-indicator {
  position: absolute;
  top:2px;
  right:2px;

  &.working {
    color: #e74c3c;
    animation-name: api-blinking;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &.ready {
    color: #2ecc71;
  }
}

#navbar {
  position: fixed;
  top: 2px;
  right: 2px;
  background-color: rgba(100, 100, 215, 0.2);
  border: 1px solid rgba(100, 100, 215, 0.6);
  text-align: center;
  width: 280px;

  & button {
    /*float: left;*/
    margin: 0.2em 0.5ch;
    padding: 0.2em 1ch;
    background-color: rgba(100, 100, 215, 0.2);
    border: 1px dotted rgba(100, 100, 215, 0.6);
    cursor: pointer;

    &:hover {
      border-style: solid;
      background-color: rgba(100, 100, 215, 0.4);
    }

    &:active {
      background-color: rgba(100, 100, 215, 0.6);
    }
  }
}

#sample-indicator {
  margin: 0.2em 1ch;
}

#select-sample-button {
  &-prev, &-next, &-list {

  }
}

.relation-label {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.2em 0.7ch;

  &.selected {
    font-weight: bold;
    border: 2px dashed #ff0000;
  }
}

denotation {
  background-color: rgba(100, 100, 215, 0.3);
  border-color: rgba(100, 100, 215, 0.8);
  border-style: solid;
  border-width: 1px 0;
  padding: 0.2em 0.4ch 0 0.4ch;

  &.hovered {
    border-color: #ff0000;
    border-width: 2px;
  }
  &.selected {
    border-color: #ff0000;
    border-width: 2px;
    border-style: dashed;
  }
}

span.special-char {
  .tcfont;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

denotation span.special-char {
  .tcfont;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

#selection-modal {
  display: none;
  position: fixed;
  border: 1px solid royalblue;
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: steelblue;
  width: 35ch;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 150px;
  left: 150px;

  & ul li {
    width: 100%;
    padding: 0.1em 1ch;
    margin: 1px 0;
    background-color: rgba(176, 196, 222, 1);
    cursor: pointer;

    &:hover {
      background-color: rgba(176, 196, 222, 0.5);
    }
  }
}